* {
    font-family: "Source Sans Pro-Regular", sans-serif;
}
.fa{
    color: white;
}


/************************header***********************************/
ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
ul li a {
    color:white;
    text-transform: uppercase;
    text-decoration: none;
}
nav {
    position: relative;
    float: right;
}
.download {
    border: 1px solid white;
    border-radius: 50px;
}
div {
    text-align: center;
} 
#NavBar {
    text-align: left;
}
a.uikit{
    position: relative;
    left: 5%;
    top: -10px;
}
    


/************************content***********************************/    
HTML
{ 
    overflow-x : hidden;
    overflow-y: hidden;
}
.icone{
        color:white;
        text-transform: capitalize;
} 
body {
        background-color: rgb(85, 172, 248);
}
div{
        text-align: center;
        color:#ffffff;
}
button{
        border: 1px white solid; 
        border-radius: 50px;
}
section.big-github-icon {
    position: relative;
    margin: 0 auto;  
    width: 200px;
    color: white;
}
section.content{
    margin:125px 0px ;
}
.blue{
    color: white;
}
.white{
    color:rgb(85, 172, 248);
}
span button {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    margin: 20px;
}
span {
    margin: 100px;
    padding: 400px;
}


/************************footer***********************************/
.blue{
    background-color:rgb(85, 172, 248);
}
.bl{
    background-color:rgb(85, 172, 248);
    position: absolute;
    right: 10px;
    margin: -20px 10px 5px 20px;
    padding: 10px 20px;
}
.img{
   text-align: center;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0%;
    left : 0%;
}
a.icon{
    position: relative;
    left: 5%;
    top: 0px;
    text-transform: lowercase;
}
a.UIKIT{
    position: relative;
    right: 10%;
    top: 0px;
    text-transform: uppercase;
}
