* {
    font-family: "Source Sans Pro-Regular", sans-serif;/* ici on definit la police de notre travail*/
}

ul li {/*on applique aux balises li précédentes la balise ul les propriétés suivantes*/
    list-style-type: none;/* permet d'annuler les points devant les objets listés*/
    display: inline-block;/* mettre les éléments de la liste sur une même ligne*/
    padding: 10px 25px;/* definir les marges intérieure*/
}
ul li a {/*on applique aux balises "a" précédentes les balises "li" et "ul" les propriétés suivantes*/
    color:white;/* pour definir la couleur*/
    text-transform: uppercase;/* pour mettre ces éléments en majuscules*/
    text-decoration: none;/* enlever toute sorte de décoration*/

}


nav {
    position: relative;/* comme l'indique son nom bien sur*/
    float: right;/* permet de positionner ces éléments à droite*/
}
.download {
    border: 1px solid white;/* definir des bords et y appliquer des propriétés comme couleurs des bordures l'épaisseur et la qualité*/
    border-radius: 50px;/* attribut une forme arrondie au bord */
}
section img {
    margin:50px 500px 50px 550px;/* definir des marge externe*/
     }

div {
    text-align: center;/*centrer le texte entre la balise div*/
} 
span button {/* permet de donner des styles particuliers au bouton precedent la balise span*/
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
   margin: 20px;
}
span {
    margin: 100px;
    padding: 400px;
}
li .bl {
    float: right;
}
#NavBar {

    text-align: left;/* aligne le texte à gauche*/
    }
.icone{
        color:white;
        text-transform: capitalize;
    }
 
body {
        background-color: rgb(85, 172, 248);
    }
div{
        color:#ffffff;
    }
button{
        border-radius: 2em;
        
    }
.blue{
         background-color:rgb(85, 172, 248);
    }

.img{
        text-align: center;

    }

