
.change-color {
    animation-name: change-color;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}
.change-size {
    animation-name: change-size;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}
.change-color-size {
    animation-name: change-color-size;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
}
.translation {
    animation-name: translation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.rotation{
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.move-object{
    animation-name: move-object;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 }
@keyframes change-color {
    from {
        color: green;
    }
    to{
        color: yellow;
    }
}
@keyframes change-size {
    from{
        width: 200px;
        height: 200px;
    }
    to{
        width: 100px;
        height: 100px;
    }
}

@keyframes change-color-size {
    from{
        background-color: green;
        width: 200px;
        height: 200px;
    }
    to{
        background-color: yellow;
        width: 100px;
        height: 100px;
    }
}

@keyframes translation {
    from{
        transform: translateX(30px);
    }
    to{
        transform: translateX(100px);
    }
}
@keyframes rotation {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
@keyframes move-object{
    from {
        transform: translateX(0px);
    }

    90% {
        transform: translateX(150px);
    }

    60% {
        transform: translateX(150px) rotate(30deg);
    }

    180% {
        transform: translate(100px, 80px) rotate(30deg);
    }

    to {
        transform: translate(100px, 80px) rotate(30deg);
        border-radius: 30px;
        background-color: red;
    }

}
